/Library
/Logs
/Packages
/ProjectSettings
/Temp
/UserSettings
/results
/config/results

# Ignore everything in the Assets folder
Assets/*

# Un-ignore the specific files you want to keep
!Assets/CarController.cs
!Assets/SimpleAgent.cs
